##
# Visual Studio
##

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/

# .NET Core
tools/

##
# MonoGame
##

# MonoGame Content Pipeline intermediate/output
Content/bin/
Content/obj/

# Effect compilation outputs
*.mgfxo

##
# macOS
##
.DS_Store
